/* span{
font-family: cursive;
} */

p{
    font-family: 'Times New Roman', Times, serif;
color: white;
}

/* .img{
    background-image: url("../../assets/images/background/background.jpg");
    background-size: cover;
} */